@model HotelBookingApp.Models.HotelListViewModel

<div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h6 class="section-title text-center text-primary text-uppercase">Our Hotels</h6>
        <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Hotels</span></h1>
    </div>
    <div class="row g-4">
        @if (Model.Hotels.Any())
        {
            @foreach (var hotel in Model.Hotels)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="room-item shadow rounded overflow-hidden">
                        <div class="image-container position-relative">
                            <img class="img-fluid" src="data:image;base64,@hotel.Picture" alt="Hotel Image" />
@*                             <small class="card-title position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">@hotel.Rating</small>
 *@
                        </div>
                        <div class="card-body p-4 mt-2">
                            <div class="d-flex justify-content-between mb-3">
                                <h5 class="card-title">@hotel.Name</h5>
                                <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>

                            </div>
                            <div class="dp-flex mb-3">
                                <small class="card-text border-end me-3 pe-3"><i class="fa fa-map-marker-alt me-3"></i>@hotel.Location</small>
                                <small class="card-text border-end me-3 pe-3"><i class="fa fa-star text-primary"></i>(@hotel.Rating)</small>

                            </div>

                            <a asp-controller="Booking" asp-action="Create" asp-route-hotelId="@hotel.Id" class="btn btn-primary">Check Availability</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-12">
                <p class="text-center">No Hotels Found.</p>
            </div>
        }

    </div>
</div>
<!-- Pagination -->
@if (Model.TotalPages > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" onclick="loadPage(@Model.CurrentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                    <a class="page-link" href="javascript:void(0);" onclick="loadPage(@i)">@i</a>
                </li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" onclick="loadPage(@Model.CurrentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}

