@using Newtonsoft.Json
@using HotelBookingApp.Models
@model BookingViewModel


<h2>Book Hotel</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3" id="hotel-details">
            <div class="card mb-4 border-primary" id="hotel-card">
                @if (Model?.Hotel?.Picture != null)
                {
                    <img src="data:image;base64,@Model.Hotel.Picture" alt="@Model.Hotel.Name" class="card-img-top" />
                }
                <div class="card-body">
                    <h4 hidden>@Model?.Hotel.Id</h4>
                    <h4>@Model?.Hotel?.Name</h4>
                    <p>@Model?.Hotel?.Location</p>
                    <p>Rating: @Model?.Hotel?.Rating</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <form id="bookingForm" asp-action="ReviewBooking" method="post">
                <input type="hidden" asp-for="HotelId" />
                <div class="room-container card shadow-sm mb-4 p-3">
                    <div class="row">
                        @foreach (var room in Model?.Rooms ?? new List<Room>())
                        {
                            <div class="col-md-4 mb-4">
                                <div class="card room-card" data-price="@room.Price" data-roomtype="@room.Type" onclick="selectRoom(this)">
                                    <div class="image-container">
                                        @if (!string.IsNullOrEmpty(room.Picture))
                                        {
                                            <img src="data:image;base64,@room.Picture" alt="@room.Type" class="card-img-top" />
                                        }
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@room.Type</h5>
                                        <p class="card-text">Guests: @room.NumberOfGuests</p>
                                        <p class="card-text">Price: $@room.Price per night</p>
@*                                         <p class="card-text">Available Rooms: @room.AvailableRooms</p>
 *@                                        @if (room.AvailableRooms > 0)
                                        {
                                            <p class="card-text">Available Rooms: @room.AvailableRooms</p>
                                            <input type="checkbox" id="room-@room.Type" name="SelectedRoomTypes" value="@room.Type" class="room-checkbox" hidden>
                                            
                                        }
                                        else
                                        {
                                            <p class="text-danger">Unavailable</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="booking-details-container mt-4 p-3 border rounded shadow-sm">

                <div class="form-group mt-4 row align-items-center">
                    <label for="checkInOutDate" class="col-sm-3 col-form-label">Check-in and Check-out Dates</label>
                    <div class="col-sm-5">
                        <input type="text" id="checkInOutDate" class="form-control" readonly>
                        <input type="hidden" id="checkInDate" asp-for="CheckInDate">
                        <input type="hidden" id="checkOutDate" asp-for="CheckOutDate">
                    </div>
                </div>
                <div class="form-group mt-4 row align-items-center">
                    <label class="col-sm-3 col-form-label">Total Amount</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="totalAmount" asp-for="TotalAmount" readonly>
                    </div>
                </div>
                <div class="form-group mt-4 row align-items-center">
                    <label for="paymentProof" class="col-sm-3 col-form-label">Payment Proof</label>
                    <div class="col-sm-5">
                        <input type="file" class="form-control" id="paymentProof" name="paymentProof" accept="image/*" required>
                    </div>
                </div>
                </div>
                <!-- User Information Section -->
                <div class="user-information-container mt-4 p-3 border rounded shadow-sm">

                <div class="container mt-4">
                    <h4>User Information</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="FirstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" asp-for="FirstName" required>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="LastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" asp-for="LastName" required>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input type="email" class="form-control" asp-for="Email" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="PhoneNumber" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" asp-for="PhoneNumber" required>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="Address" class="form-label">Address</label>
                            <input type="text" class="form-control" asp-for="Address" required>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="City" class="form-label">City</label>
                            <input type="text" class="form-control" asp-for="City" required>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="ZipCode" class="form-label">Zip Code</label>
                            <input type="text" class="form-control" asp-for="ZipCode" required>
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Country" class="form-label">Country</label>
                            <input type="text" class="form-control" asp-for="Country" required>
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                </div>
                <!-- End User Information Section -->
                <!-- Hidden inputs for hotel information -->
                <input type="hidden" asp-for="HotelId" name="HotelId" value="@Model.HotelId">
                <input type="hidden" asp-for="UserId" name="UserId" value="@Model.UserId">

                <input type="hidden" asp-for="Hotel.Name" name="Name" value="Hotel.Name">
                <input type="hidden" asp-for="Hotel.Location" name="Location" value="Hotel.Location">
                <input type="hidden" asp-for="Hotel.Rating" name="Rating" value="Hotel.Rating">



                <input type="hidden" id="HotelJson" name="hotelJson" value='@Html.Raw(JsonConvert.SerializeObject(Model.Hotel))'>

                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        </div>
    </div>
</div>

<!-- Review Booking Modal -->
<div class="modal fade" id="reviewBookingModal" tabindex="-1" aria-labelledby="reviewBookingModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100">Booking Summary</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                <span aria-hidden="true">&times;</span>
            </div>
            <div class="modal-body">
                <!-- Booking review details will be dynamically loaded here -->
                <div id="reviewBookingContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <button type="button" class="btn btn-primary" id="confirmBooking">Confirm Booking</button>
            </div>
        </div>
    </div>
</div>

<div id="loadingSpinner" class="spinner-border text-primary" role="status" style="display: none;">
    <span class="sr-only">Loading...</span>
</div>

<!-- Flatpickr CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/en.js"></script>
<script>
    $(document).ready(function () {
        $('#bookingForm').on('submit', function (e) {
            e.preventDefault();
            $('#loadingSpinner').show(); // Show spinner

            var formData = new FormData(this);
            var selectedRooms = [];
            $('.room-checkbox').each(function () {
                if ($(this).is(':checked')) {
                    selectedRooms.push($(this).val());
                }
            });
            formData.append('SelectedRoomTypes', selectedRooms);
            formData.append('hotelJson', $('#HotelJson').val());

            $.ajax({
                url: '@Url.Action("ReviewBooking", "Booking")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#reviewBookingContent').html(data);
                    $('#reviewBookingModal').modal('show');
                    $('#loadingSpinner').hide(); // Hide spinner

                },
                error: function (xhr, status, error) {
                    console.error('Error while loading review booking modal:', xhr.responseText);
                    alert('Error while loading review booking modal. Status: ' + status + ' Error: ' + xhr.responseText);
                    $('#loadingSpinner').hide(); // Hide spinner

                }
            });
        });

        $('#confirmBooking').on('click', function () {
            $('#loadingSpinner').show(); // Show spinner

            var formData = new FormData($('#bookingForm')[0]);
            var selectedRooms = [];
            $('.room-checkbox').each(function () {
                if ($(this).is(':checked')) {
                    selectedRooms.push($(this).val());
                }
            });
            formData.append('SelectedRoomTypes', selectedRooms);
            formData.append('hotelJson', $('#HotelJson').val());

            $.ajax({
                url: '@Url.Action("ConfirmBooking", "Booking")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    window.location.href = '@Url.Action("Index", "Home")';
                },
                error: function (xhr, status, error) {
                    console.error('Error while confirming booking:', xhr.responseText);
                    alert('Error while confirming booking. Status: ' + status + ' Error: ' + xhr.responseText);
                    $('#loadingSpinner').hide(); // Hide spinner

                }
            });
        });

        function selectRoom(card) {
            var checkbox = card.querySelector('.room-checkbox');
            checkbox.checked = !checkbox.checked;
            if (checkbox.checked) {
                card.classList.add('border-primary');
            } else {
                card.classList.remove('border-primary');
            }
            updateTotalAmount();
        }

        function updateTotalAmount() {
            var totalAmount = 0;
            document.querySelectorAll('.room-checkbox').forEach(function (checkbox) {
                if (checkbox.checked) {
                    totalAmount += parseFloat(checkbox.closest('.room-card').getAttribute('data-price'));
                }
            });
            document.getElementById('totalAmount').value = totalAmount.toFixed(2);
        }

        flatpickr('#checkInOutDate', {
            mode: 'range',
            dateFormat: 'D, M/j/y',
            minDate: 'today',
            showMonths: 2,
            onChange: function (selectedDates, dateStr, instance) {
                if (selectedDates.length === 2) {
                    var checkInDate = selectedDates[0];
                    var checkOutDate = selectedDates[1];
                    document.getElementById('checkInDate').value = checkInDate.toISOString().slice(0, 10);
                    document.getElementById('checkOutDate').value = checkOutDate.toISOString().slice(0, 10);
                    instance.close();
                }
            },
            onClose: function (selectedDates, dateStr, instance) {
                if (selectedDates.length == 0) {
                    instance.close();
                }
            }
        });
        // var hotelcard = document.getelementbyid('hotel-details');
        // var initialoffsettop = hotelcard.offsettop;

        // window.addeventlistener('scroll', function () {
        //     var scrolltop = window.pageyoffset || document.documentelement.scrolltop;
        //     if (scrolltop > initialoffsettop) {
        //         hotelcard.style.position = 'fixed';
        //         hotelcard.style.top = '20px';
        //     } else {
        //         hotelcard.style.position = 'relative';
        //         hotelcard.style.top = '0';
        //     }
        // });
        window.selectRoom = selectRoom;
        window.updateTotalAmount = updateTotalAmount;
    });
</script>


@* @section Styles {
    <style>
        .card {
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s, box-shadow 0.2s;
        }

            .card:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

        .image-container {
            height: 200px;
            overflow: hidden;
        }

            .image-container img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .room-container {
            max-height: 600px;
            overflow-y: auto;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

            .room-container::-webkit-scrollbar {
                width: 10px;
            }

            .room-container::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 10px;
            }

                .room-container::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

        .card-title {
            font-size: 1.25rem;
            font-weight: bold;
        }

        .card-text {
            font-size: 1rem;
            color: #6c757d;
        }

        .border-primary {
            border: 2px solid #007bff !important;
        }

        #hotel-details {
            position: -webkit-sticky;
            position: sticky;
            top: 20px;
        }

        .custom-modal-width {
            max-width: 70% !important;
        }
    </style>
} *@
