@model IEnumerable<HotelBookingApp.Models.Booking>

@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Bookings</h2>

<div class="container mt-4">

<table class="table" id="tbllist">
    <thead>
        <tr>
@*             <th>Reservation Number</th>
 *@            <th>Booked Name</th>
            <th>Hotel Name</th>
            <th>Check-in Date</th>
            <th>Check-out Date</th>
            <th>Total Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var booking in Model)
        {
            <tr>
@*                 <td>@booking.Id</td>
 *@                <td>@booking.LastName</td>
                <td>@booking.Hotel?.Name</td>
                <td>@booking.CheckInDate.ToString("MM/dd/yyyy")</td>
                <td>@booking.CheckOutDate.ToString("MM/dd/yyyy")</td>
                <td>@booking.TotalAmount.ToString("C")</td>
                <td>
                    <a asp-controller="Booking" asp-action="Details" asp-route-id="@booking.Id" class="btn btn-info">View</a>
                    <a href="@Url.Action("Download", new { id = booking.Id })" class="btn btn-primary">Download PDF</a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>
